<a href="https://colab.research.google.com/github/thamreen13/VirtualLab/blob/main/Titanic_Survival.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING THE DEPENDENCIES

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression

DATA COLLECTION AND PROCESSING

In [ ]:
#load the data from csv file to Pandas Dataframe
titanic_data = pd.read_csv('/content/train.csv')

In [ ]:
#printing the first 5 rows of the database
titanic_data.head()

In [ ]:
# number of rows and columns
titanic_data.shape

In [ ]:
# getting some information about the data
titanic_data.info()

In [ ]:
# check the number of missing values in each column
titanic_data.isnull().sum()

HANDING MISSING VALUES

In [ ]:
#drop the "Cabin" column from the dataframe
titanic_data = titanic_data.drop(columns='Cabin', axis=1)

In [ ]:
titanic_data.isnull().sum()

In [ ]:
#replacing the missing avles in the age column with mean value
titanic_data['Age'].fillna(titanic_data['Age'].mean(), inplace=True)

In [ ]:
# finding the mode value of embar
print(titanic_data['Embarked'].mode())

In [ ]:
print(titanic_data['Embarked'].mode()[0])

In [ ]:
#replacing the missing values in "Embarked" column with mode value
titanic_data['Embarked'].fillna(titanic_data['Embarked'].mode()[0], inplace = True)

In [ ]:
titanic_data.isnull().sum()

DATA ANALYSIS

In [ ]:
## Getting some statistical measures about the data
titanic_data.describe()

In [ ]:
# Finding the number of people survived and not survived
titanic_data['Survived'].value_counts()

DATA VISUALIZATION

In [ ]:
sns.set()

In [ ]:
# Making a count plot for the "Survived" column
sns.countplot(x='Survived', data=titanic_data)

In [ ]:
titanic_data['Sex'].value_counts()

In [ ]:
# Making a count plot for the "Survived" column
sns.countplot(x='Sex', data=titanic_data)

In [ ]:
# number of survivors gender wise
sns.countplot(x = 'Sex',hue = 'Survived',data = titanic_data)

In [ ]:
# Making a count plot for the "Pclass" column
sns.countplot(x='Pclass', data=titanic_data)

In [ ]:
sns.countplot(x = 'Pclass',hue = 'Survived',data = titanic_data)

In [ ]:
# Making a count plot for the "SibSp" column
sns.countplot(x='SibSp', data=titanic_data)

In [ ]:
sns.countplot(x = 'SibSp',hue = 'Survived',data = titanic_data)

In [ ]:
	# Making a count plot for the "Parch" column
sns.countplot(x='Parch', data=titanic_data)

In [ ]:
sns.countplot(x = 'Parch',hue = 'Survived',data = titanic_data)

In [ ]:
	# Making a count plot for the "Embarked" column
sns.countplot(x='Embarked', data=titanic_data)

In [ ]:
sns.countplot(x = 'Embarked',hue = 'Survived',data = titanic_data)

ENCODING THE CATEGORICAL COLUMNS

In [ ]:
titanic_data['Sex'].value_counts()

In [ ]:
titanic_data['Embarked'].value_counts()

In [ ]:
# converting categorical columns

titanic_data.replace({'Sex':{'male':0,'female':1}, 'Embarked':{'S':0,'C':1,'Q':2}}, inplace=True)

In [ ]:
titanic_data.head()

SEPERATING FEATURES AND TARGET

In [ ]:
x = titanic_data.drop(columns = ['PassengerId' , 'Name' , 'Ticket' , 'Survived'] , axis = 1)
y = titanic_data['Survived']

In [ ]:
print(x)

In [ ]:
print(y)

SPLITTING THE DATA INTO TRAINING DATA AND TEST DATA

In [ ]:
x_train , x_test , y_train , y_test = train_test_split(x , y , test_size = 0.2 , random_state = 2)

In [ ]:
print(x.shape , x_train.shape , x_test.shape)

MODEL TRAINING

Logistic REgression

In [ ]:
model = LogisticRegression()

In [ ]:
# training the logistic regression model with training data
model.fit(x_train , y_train)

MODEL EVALUATION

Accuracy Score

In [ ]:
#accuracy on training data
x_train_prediction = model.predict(x_train)

In [ ]:
print(x_train_prediction)

In [ ]:
training_data_accuracy = accuracy_score(y_train , x_train_prediction)
print("Accuracy score of training data: ",training_data_accuracy)

In [ ]:
#accuracy on test data
x_test_prediction = model.predict(x_test)

In [ ]:
print(x_test_prediction)

In [ ]:
test_data_accuracy = accuracy_score(y_test , x_test_prediction)
print("Accuracy score of test data: ",test_data_accuracy)